/* モーダルの背景 */
.modal {
  display: none; /* デフォルトでは非表示 */
  position: fixed; /* 画面に固定 */
  z-index: 1; /* 他の要素の上に表示 */
  left: 0;
  top: 0;
  width: 100%; /* 全幅 */
  height: 100%; /* 全高さ */
  overflow: auto; /* スクロール可能 */
  background-color: rgb(0, 0, 0); /* 背景色 */
  background-color: rgba(0, 0, 0, 0.4); /* 透過 */
}

/* モーダルコンテンツ */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 中央に配置 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 幅 */
}
